@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

header {
  height: 200px;
  width: 100%;
  background-image: url("../images/x-gate.svg");
  background-size: cover;
  background-position: center;
}

.todo_main {
  margin-top: -9.5rem;
  padding: 0 24px;
}
.main_heading {
  font-size: 1.8rem;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-size: 1.8rem;
  transform: translateY(4px);
}
@media screen and (min-width: 23.43rem) {
  .todo_main {
    margin-top: -14rem;
    padding: 0 24px;
    max-width: 35.75rem;
  }
  .main_heading {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 23.43rem) {
  header {
    height: 300px;
    width: 100%;
    background-image: url("../images/x-gate.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.filterClicked {
  color: hsl(220, 98%, 61%);
}
